/* Sidebar */
#sidebar-wrapper {
    z-index: 1;
    position: absolute;
    width: 0px;
    height: 100%;
    overflow-y: hidden;
    background: #2C3E50;
}

/* Main content */
#page-content-wrapper{
  width: 100%;
  position: absolute;
  padding: 15px;
  border: 5px solid green;
}

/* Change the width of the sidebar to display it*/
#wrapper.menuDisplayed #sidebar-wrapper{
  width:75px;
}
#wrapper.menuDisplayed #page-content-wrapper{
  margin-left:75px;
}

/* Sidebar styling */
.sidebar-nav{
  padding:0;
  list-style: none;
}

.sidebar-nav 1i{
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav a{
  display: block;
  text-decoration: none;
  color: #ddd;
}

.sidebar-nav lis a:hover{
  background: #16A085;
}
