body {
  background: white url("images/background.png");
}

table {
  table-layout:fixed;
  margin:auto;
  width:850px;
  }

body {
  text-align:center;
}

input[type=checkbox] {
  transform: scale(1.5);
}

h3{
  padding:4px;
}

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar{
  border-radius: 0;
}

.navbar-brand{
  font-family: 'Satisfy', cursive;
}

.row{
    overflow: hidden;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.checkbox-label{
  font-size:12px;
  padding:7px;
}

.btn{
  padding:8px;
  font-size:14px;
}

/* Sidebar styling */
.sidebar-nav{
  padding:0;
  list-style: none;
}

.sidebar-nav 1i{
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav a{
  display: block;
  text-decoration: none;
  color: #ddd;
}

.sidebar-nav lis a:hover{
  background: #16A085;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}


#tile_thumb {
  background:url(https://dummyimage.com/600x400/fff/fff) center no-repeat;
  transition:0.25s;
  }

#tile_thumb:hover {
  background-size:  10% 100%;
  transform:scale(2.5,2.5);
  transform-origin:center;
  }

#detail_description {
  text-align: left;
}
